{% include base.html %}
<aside>
  <div class="container">
    <nav>
      <ul>
      <li>
        <li><a href=index.html>Top</a></li>
        <li><a href=index.html#motivation>Motivation</a></li>
        <li><a href=index.html#requirements>Requirements</a></li>
        <li><a href=index.html#components>Components</a></li>
        <li><a href=index.html#competition>Competition</a></li>
        <li><a href=index.html#members>Members</a></li>
        <li><a href=index.html#video>Videos</a></li>
        <li><a href=index.html#documents>Documents</a></li>
    </nav>
  </div>
</aside>

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h2>Pill Popper</h2>
    <p>The safe place for prescription drugs</p>
  </div>
  <a href="#motivation" class="more scrolly">Tell Me More!</a>
</section>
