

  <h2>Main Page</h2>

  Main content goes here. 

  Concepts
    we're making an automated pill dispenser with biometric access control

  Competitive
    stuff exists out there, but we're providing higher tech access control and a more portable device, along with push notifications to the patient's smartphone

  Motivation
    help recovering patients stick to their prescription painkiller regimine with lower risk of addiction

  Requirements
    needs to work
    needs to make us graduate

  Components
    we need some shit

  Team Members
    Isaac Manjarres - the software person with a little bit of hardware
    Aishwarya Prem Renu - our other software person, and some iOS development
    Karthic Palaniappan - the robotics person, and some iOS development
    Ashwin Raghavachari - the hardware and PCB layout person, with some software